/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero*/

.box {
  background-color: #8ea86e;
  color: #fff;
  text-align: center;
  margin: 20px;
}

div,p,body,header,footer,section,article,nav,h1,h2,h3,h4 { 
margin: 0; 
padding: 0; 
} 

img { 
border: none; 
margin: 0; 
padding: 0; 
}

/*html selectors*/

body {
  font-family:'Indie Flower', cursive;
  font-size: 14px;
  background-color: #F5F3F5;
  /*http://www.heropatterns.com/*/
  }
/*a:link is for not visited, a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited { 
text-decoration:none; 
}

a:hover, a:active { 
text-decoration:none; 
 }

/*hide elements from browser but show for doc outline*/

.monospace {
  font-family: font-family: 'Indie Flower', cursive;
}

.hidden
{
  display: none;
}

/*-- End hidden --*/

/*-- Start Container --*/

.container
{
  width: 980px;
  margin: 0 auto;
  background-color: #F5F3F5;
}

/*-- End Container --*/

/*-- Start Header --*/

.mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.logoHeader
{
  width: 220px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.mainNav
{
  width: 500px;
  height: 25px;
  margin-top: 45px;
  margin-left: auto;
  text-align: center;
}

.mainNav ul
{
  list-style-type: none;
  padding: 0;
}

.mainNav ul li {  
  font-size: 14px;
  display: inline;
  cursor: pointer;
  margin-left: 20px;
  text-align: center;
}

.mainNav ul li a
{
  color: #1F3B2C;
  padding: 5px;
}

.mainNav ul li a:hover {
  padding: 5px;
  background-color: #E5B0A4;
}

.selected
{
  padding: 5px 0px 5px 0px;
  background-color: #E5B0A4;
}

/*-- End Header --*/

/*-- Start Header --*/

.hero
{
  height: 384px;
  width: 980px;
  position: relative; /*set to relative to anything that uses absolute inside will positioned to the top left corner of this element*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hello {
  height: 800px;
  width: 980px;
  position: relative; /*set to relative to anything that uses absolute inside will positioned to the top left corner of this element*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.head {
  height: 200px;
  width: 980px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.heroIndex {
  background: url(../images/home_header.jpg) no-repeat bottom; 
}

.herotea {
  background: url(../images/tea_header.jpg) no-repeat bottom; 
}

.heroContact {
  background: url(../images/contact_header.jpg) no-repeat bottom; 
}

.hero h2
{
  color: #1F3B2C;
  font-size: 50px;
  letter-spacing: 10px;
  margin-left: 90px;
  margin-bottom: 30px;
}

.head h2
{
  color: #1F3B2C;
  font-size: 39px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 40px;
}
.hello h2
{
  color: #1F3B2C;
  font-size: 39px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 65px;
  margin-right: 80px;
}

.hello h3
{
  font-size: 25px;
  margin-bottom: 200px;
  margin-left: 100px;
}

/*-- End Header --*/

/*-- Start Index --*/

.middle {
  height: 300px;
  width: 980px;
  margin-top: 20px;
}

.middle h3 {
  color: #black;
  font-size: 20px;
  text-align: right;
  margin-right: 260px;
  margin-top: -80px;
}

.flowers {
  height: 200px;
  width: 500px;
  margin-top: 50px;
}

.boxed {
  display: block;
  font-size: 28px;
  width: 170px;
  height: 30px;
  padding: 15px;
  color: #1F3B2C;
  background-color: #fff;
  text-align: center;
  margin-left: 500px;
  margin-top: -100px;
}


.itembox
{
  background-color: #1F3B2C;
}

.resources
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 30px;
}

.resources p
{
  text-align: center;
  margin-top: 20px;
  line-height: 20px;
  color: #666;
  font-size: 19px;
  background-color: #E5B0A4;
  background-size: contain;
  height: 80px;
  margin-top: 15px;
}

/*-- End Index --*/

 /*Tea Page*/

#mainTea {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#Tealist {
  padding-left: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: -1110px;
  margin-left: 25px;
}

.side {
  display: block;
  width: 300px;
  height: 1200px;
  background-color: #588068;
  margin-left: -20px;
}

.side img {
  margin-top: 350px;
  margin-left: 10px;

}

.side h3 {
  color: #fff;
  margin-top: 30px;
  font-size: 18px;
  margin-left: 10px;
}

.side h4 {
  color: #black;
  margin-top: 0px;
  font-size: 15px;
  margin-left: 10px;
}

.top {
  display: block;
  width: 650px;
  height: 80px;
  background-color: #E5B0A4;
  font-size: 30px;
  margin-top: -90px;
}

.top p {
  margin-left: 20px;
  margin-top: 30px;
  word-spacing: 5px;
}

.TeaImageCon {
  width: 300px;
  height: 320px;
  background-color: #ffffff;
  text-align: center;
  margin-top: 10px;
  padding: 20px 0px 20px 0px;
}

.TeaImageCon p {
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  display: block;
  border: 1px solid #E5B0A4;
}

.TeaImageCon h3 {
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
  color: #E5B0A4;
}

.swichicon {
  display: block;
  width: 100px;
  height: 30px;
  font-size: 20px;
  margin-left: 600px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.swichicon p {
  text-align: center;
  background-color: #fff;
}

/*-- End Tea --*/

/*-- Contact Page --*/

#mainContact {
  display: block;
  height: 200px;
  width: 977px;
  border: 1px solid #E5B0A4;
  margin-top: 20px;

}

#mainContact h3 {
  font-size: 25px;
  color: #1F3B2C;
  margin-left: 355px;
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}

#contactText {
  font-size: 21px;
  margin-bottom: 30px;
  width: 340px;
}

input, textarea  {
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 250px;
  height: 10px;
  background-color: #efefef;
  border: 1px solid #999;
  color: #333;
  margin-left: 350px;
}

/*-- Start Footer --*/

.mainFooter {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  background-color: #9D8A76;
  justify-content: flex-start;
  height: 200px;
}

.footerNav {
  width: 380px;
  height: 25px;
  margin-left: 20px;
}

.footerNav ul {
  padding: 0;
  list-style-type: none;
  width: 500px;
  margin-left: 0;
}

.footerNav ul li { 
  cursor: pointer;
  display: inline;
  margin-right: 25px;
  font-size: 17px;  
}

.footerNav ul li a {
  color: #cccccc;
}

.footerNav ul li a:hover {
  color: #E5B0A4;
}

.footerNav h4 {
  font-size: 20px;
  margin-top: 10px;
}

.emailNav {
  width: 380px;
  height: 15px;
  color: #F5F3F5;
}

.socialmedia {
  height: 45px;
  margin-left: auto;
  margin-top: 50px;
  margin-right: 20px;
}

.information ul {
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  margin-top: 50px;
}

.information ul li a {
  color: #cccccc;
}

.information ul li a:hover {
  color: #E5B0A4;
}

.aboutus {
  margin-left: 10px;
  text-align: right;
}

.aboutus ul {
  padding: 0;
  list-style-type: none;
  width: 400px;
  font-size: 14px;
  margin-right: 75px;

}

.aboutus ul li {
  cursor: pointer;
  display: inline;
  font-size: 16px;
  margin-right: -75px;
}

.aboutus ul li a {
  color: #cccccc;
}

.aboutus ul li a:hover {
  color: #E5B0A4;
}

.aboutus h4 {
  font-size: 20px;
  margin-top: 10px;
}

.subFooter {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  justify-content: flex-start;
  height: 50px;
}

.subFooter pre {
  font-size: 14px;
  margin-top: 30px;
  margin-left: 20px;
}

/*-- End Footer --*/
